
/* ==========================
GENERAL
============================ */
 * {
   box-sizing: border-box;
 }

 body {
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
 }

 img {
   max-width: 100%;
 }



/* ==========================
HEADER
============================ */

 header {
   width: 100%;
 }

 .header-wrapper {
   max-width: 960px;
   height: 60px;
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 /* Navigation */
 nav a {
   text-decoration: none;
   color: #707a7a;
   padding: 1.2rem;
   letter-spacing: 3px;
 }


/* ==========================
SHOWCASE SECTION
============================ */

#showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background:
  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url('../img/showcase-bg.jpeg') no-repeat center / cover;
  height: 100vh;
  transition: .5s;
}

 #showcase h1 {
   position: relative;
   color: #fff;
   text-transform: uppercase;
   font-family: 'Zilla Slab Highlight', cursive;
   font-size: 6.25rem;
   letter-spacing: 5px;
}

#showcase h1::before {
  font-family: 'Miss Fajardose', cursive;
  position: absolute;
  top: -70px;
  left: -70px;
  transform: rotate(-20deg);
  color: rgb(69, 219, 224);
  content: "Vlad's";
  text-transform: none;
}

#showcase p {
  color: #fff;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
}



/* ==========================
CATALOG SECTION
============================ */
 #catalog {
   width: 100%;
 }
 #catalog h3 {
  font-size: 5rem;
  font-family: 'Zilla Slab Highlight', cursive;
  letter-spacing: 3px;
}
#catalog .catalog-wrapper {
  display: flex;
  max-width: 960px;
  margin: auto;
}

#catalog .catalog-item {
  width: 25%;
  margin-right: 3rem;
}
