
/* ==========================
GENERAL
============================ */
 * {
   box-sizing: border-box;
 }

 body {
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 1;
 }

 img {
   max-width: 100%;
 }

 h3, h4, p {
   margin: 0;
 }

 section h3 {
   margin-top: 6.75rem;
 }

 .container {
   max-width: 1024px;
   margin: 0 auto;
 }

 .flex {
   display: flex;
 }
 .sale-badge

/* ==========================
HEADER
============================ */

 header {
   width: 100%;
 }

 .header-wrapper {
   height: 60px;
   justify-content: space-between;
   align-items: center;
 }

 #logo {
   color: #707a7a;
   width: 60px;

 }

 /* Navigation */
 nav a {
   text-decoration: none;
   color: #707a7a;
   padding: 1.4rem 1.2rem;
   letter-spacing: 3px;
 }

 nav a:hover {
   background-color: #eee;
   color: #333;
   transition: .8s;
 }


/* ==========================
SHOWCASE SECTION
============================ */

#showcase {
  width: 100%;
  background:
  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url('../img/showcase-bg.jpeg') no-repeat center / cover;
  transition: .5s;
}

.showcase-wrapper {
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

 #showcase h1 {
   position: relative;
   color: #fff;
   text-transform: uppercase;
   font-family: 'Zilla Slab Highlight', cursive;
   font-size: 6.25rem;
   letter-spacing: 5px;
}

#showcase h1::before {
  font-family: 'Miss Fajardose', cursive;
  position: absolute;
  top: -70px;
  left: -70px;
  transform: rotate(-20deg);
  color: rgb(69, 219, 224);
  content: "Vlad's";
  text-transform: none;
}

#showcase p {
  color: #fff;
  font-size: 2rem;
  font-weight: ;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
}



/* ==========================
CATALOG SECTION
============================ */

 #catalog {
  width: 100%;
 }

 #catalog .catalog-wrapper {
   justify-content: space-between;
   flex-wrap: wrap;
 }

 #catalog h3 {
  font-size: 5rem;
  font-family: 'Zilla Slab Highlight', cursive;
  letter-spacing: 3px;
}

/* Catalog Items */

  #catalog .catalog-item {
   width: 33.3333333%;
   min-height: 450px;
   border-right: 1px solid #ccc;
   text-align: center;
   margin-top: 5.75rem;
   position: relative;
  }


  #catalog .catalog-item p {
    font-size: .9rem;
    color: #707a7a;
    line-height: 1.5;
  }

  #catalog .catalog-item:nth-child(3n+3) {
    border-right: none;
  }

  #catalog img {
    max-width: 255px;
    max-height: 340px;
    margin-bottom: 30px;
  }

  #catalog .catalog-item__badge {
    width: 70%;
    display: none;
    margin: 0 auto;
    padding: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -9999;

  }

  #catalog .catalog-item:hover .active-hover {
    background-color: #fff;
    position: absolute;
     z-index: 100;
     height: auto;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    transition: .3s;
  }

  #catalog .catalog-item:hover .catalog-item__badge{
     position: sticky;
     display: block;
  }

/* Catalog Price */
  #catalog .catalog-item__price {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 219, 76, .8);
    font-size: 1.75rem;
    color: #565551;
    padding: .2rem;
    z-index: 3;
  }

/* Catalog Buy Button */
  #catalog .catalog-item__buy-btn {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 1.2rem;
    padding: .5rem .5rem;
    background-color: #65c67d;
    border-radius: 5px;


  }

/* Catalog Like Button */
   #catalog .catalog-item__badge i.fa.fa-heart {
    font-size: 1.5rem;
    color: #d0d0d8;
    padding: 1.5rem 0;
    font-weight: 400;
    cursor: pointer;
 }

 .fa-balance-scale {
   font-size: 1.5rem;
   color: #d0d0d8;
   padding: 1.5rem 0;
 }

   #catalog .catalog-item__badge input#like {
    display: none;
 }

    #catalog .catalog-item__badge input:checked + label  i.fa.fa-heart{
    font-weight: 900;
    color: #f9688f;
  }



/* ==========================
FOOTER
============================ */

 footer {
    width: 100%;
    background-color: #352456;
    margin-top: 6.75rem;
 }

  footer .footer-wrapper {
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
}

  footer .footer-wrapper p{
    color: #fff;
    text-align: center;

 }






/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Media Queries
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


@media(max-width: 768px) {

  /* *******************
   SHOWCASE SECTION
   ******************** */

  #showcase h1 {
     font-size: 3.5rem;
     letter-spacing: 3px;
  }

  #showcase h1::before {
    text-shadow: 2px 2px 3px rgba(50, 50, 50, 1);
    top: -37px;
    left: 22%;
    transform: rotate(0deg);
  }

  #showcase p {
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 3px;
  }

  /* *******************
  CATALOG SECTION
  ******************** */
  #catalog h3 {
    font-size: 2.75rem;
    letter-spacing: 2px;
  }

  #catalog .catalog-wrapper {
    flex-direction: column;
  }

  #catalog .catalog-item {
    width: 100%;
  }



 }
