
/* ==========================
GENERAL
============================ */
 * {
   box-sizing: border-box;
 }

 body {
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
 }

 img {
   max-width: 100%;
 }

 .container {
   max-width: 1024px;
   margin: 0 auto;
 }

 .flex {
   display: flex;
 }


/* ==========================
HEADER
============================ */

 header {
   width: 100%;
 }

 .header-wrapper {
   height: 60px;
   justify-content: space-between;
   align-items: center;
 }

 /* Navigation */
 nav a {
   text-decoration: none;
   color: #707a7a;
   padding: 1.4rem 1.2rem;
   letter-spacing: 3px;
 }

 nav a:hover {
   background-color: #eee;
   color: #333;
 }


/* ==========================
SHOWCASE SECTION
============================ */

#showcase {
  width: 100%;
  background:
  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url('../img/showcase-bg.jpeg') no-repeat center / cover;
  transition: .5s;
}

.showcase-wrapper {
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

 #showcase h1 {
   position: relative;
   color: #fff;
   text-transform: uppercase;
   font-family: 'Zilla Slab Highlight', cursive;
   font-size: 6.25rem;
   letter-spacing: 5px;
}

#showcase h1::before {
  font-family: 'Miss Fajardose', cursive;
  position: absolute;
  top: -70px;
  left: -70px;
  transform: rotate(-20deg);
  color: rgb(69, 219, 224);
  content: "Vlad's";
  text-transform: none;
}

#showcase p {
  color: #fff;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
}



/* ==========================
CATALOG SECTION
============================ */

 #catalog {
  width: 100%;
 }

 #catalog .catalog-wrapper {
   justify-content: space-between;
   border-top: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
 }

 #catalog h3 {
  font-size: 5rem;
  font-family: 'Zilla Slab Highlight', cursive;
  letter-spacing: 3px;
}

  #catalog .catalog-item {
   width: 30%;
   text-align: center;
  }

  #catalog img {
    max-width: 255px;
    max-height: 340px;
  }



/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Media Queries
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


 @media(max-width: 768px) {

   /* *******************
   SHOWCASE SECTION
   ******************** */
  #showcase h1 {
     font-size: 3.5rem;
     letter-spacing: 3px;
  }

  #showcase h1::before {
    text-shadow: 2px 2px 3px rgba(50, 50, 50, 1);
    top: -37px;
    left: 22%;
    transform: rotate(0deg);
  }

  #showcase p {
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 3px;
  }

  /* *******************
  CATALOG SECTION
  ******************** */
    #catalog h3 {
      font-size: 2.75rem;
      letter-spacing: 2px;
    }

    #catalog .catalog-wrapper {
      flex-direction: column;
    }

    #catalog .catalog-item {
      width: 100%;
    }

 }
